
# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

<ul>
    <li>List popular Languages for Data Science</li>
    <li>List pupular libraries for Data Science</li>
    <li>Table of popular tools for Data Science</li>
    <li>Code arithmetic expresions</li>
</ul>

**Some of the popular languages that Data Scientists use are:**

1. Python
2. R
3. Java

**Some of the commonly used libraries used by Data Scientists include:**

1. pandas
2. numpy
3. matplotlib

<table>
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <td>TensorFlow</td>
    </tr>
    <tr>
        <td>RStudio</td>
    </tr>
    <tr>
        <td>Apache Spark</td>
    </tr>
</table>


### Below are a few examplese of evaluating arithmetic expressions in Python

In [1]:
#This simpple arithmetic expession to multiply then add integers

(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by dividing by 60

200/60

3.3333333333333335


## Author

Christian Arenas